@{
    ViewBag.Title = "Home Page";
}

<paper>
    <line class="header"><input type="text" id="iwant" placeholder="I want to..." /></line>
    <lines>
        <line></line>
        <line></line>
        <line></line>
        <line></line>
        <line></line>
        <line></line>
        <line></line>
    </lines>
    <line class="footer"><count>0</count> task(s) remaining</line>
    <vertical></vertical>
</paper>
<div id="message"></div>
<div id="loader" class="loader loader-default is-active" data-text="Loading..."></div>